/* Edited theme version */
:root {
  --royal:        #867575;
  --lavender:     #B59F9F;
  --blush:        #F3EEEE;
  --gold:         #867575;
  --gold-light:   #C7BDBD;
  --muted:        #867575;
  --silver:       #867575;
  --silver-light: #D8D0D0;
}

/* HEADER */
header{
  background:#867575;
  border-bottom:1px solid rgba(134,117,117,.45);
}

/* BUTTONS */
.nav-btn.cart-btn,
.add-btn,
.checkout-btn,
.place-order-btn,
.back-shop-btn{
  background:#867575;
}

/* SEARCH */
.search-bar{
  border:1.5px solid #867575;
}

.search-bar:focus{
  border-color:#867575;
  box-shadow:0 0 0 3px rgba(134,117,117,.15);
}

/* PRICES */
.product-price{
  color:#867575;
}
